#pragma once

// ===== Wi-Fi =====
#define WIFI_SSID     "YOUR_WIFI_NAME"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// ===== HTTP =====
#define HTTP_PORT 80

// ===== Device =====
#define DEVICE_NAME "SoundNode"

// ===== Audio =====
#define I2S_BCK  5
#define I2S_WS   4
#define I2S_DOUT 2
#define SD       0